{%raw%}
groups:
  - name: Site down
    rules:
    - alert: Site down
      expr: up{job="wordpresses@epfl",origin="noc-zurich"} == 0
      for: 5m
      labels:
        severity: page
        sendto: telegram
        app: wordpress
      annotations:
        summary: 'Instance {{ $labels.instance }} down ({{ $labels.wp_env }})'
        description: '{{ $labels.instance }} of job {{ $labels.job }} has been down for more than 5 minutes (on env: {{ $labels.wp_env }}).'
{%endraw%}

